.img_map_mask{
    background-image: url('@{img}map_mask.png');
    width: 1500px/2;
    height: 3248px/2;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1500px/2 auto;
}

.img_nav_nav_state{
    background-image: data-uri('@{img}nav_state.png');
    width: 41px/2;
    height: 44px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 41px/2 auto;
}

.img_nav_nav_bg_open{
    background-image: data-uri('@{img}nav_state_bg_open.png');
    width: 270px/2;
    height: 77px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 270px/2 auto;
}

.img_nav_nav_bg_close{
    background-image: data-uri('@{img}nav_state_bg_close.png');
    width: 270px/2;
    height: 77px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 270px/2 auto;
}

.img_right_nav_bg{
    background-image: url('@{img}right_men_list.png');
    width: 201px/2;
    height: 852px/2;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 201px/2 auto;
}

.img_btn_right_nav{
    background-image: data-uri('@{img}btn_right_menu.png');
    width: 88px/2;
    height: 61px/2;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 88px/2 auto;
}

.img_btn_right_nav_pad{
    background-image: data-uri('@{img}btn_right_menu_pad.png');
    width: 66px;
    height: 45px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 66px auto;
}

.img_log_pop{
    background-image: url('@{img}log_pop.png');
    width: 1246px/2;
    height: 1651px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1246px/2 auto;
}

.img_pop_fgx{
    background-image: data-uri('@{img}pop_fgx.png');
    width: 1000px/2;
    height: 2px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1000px/2 auto;
}

.img_pop_btn{
    background-image: data-uri('@{img}pop_btn.png');
    width: 383px/2;
    height: 74px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 383px/2 auto;
}

.img_pop_bg{
    background-image: data-uri('@{img}wz_pop_bg.png');
    width: 1289px/2;
    height: 778px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1289px/2 auto;
}

.img_qq{
    background-image: data-uri('@{img}bot_bar_qq.png');
    width: 168px/2;
    height: 224px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 168px/2 auto;
}

.img_kj{
    background-image: data-uri('@{img}bot_bar_kj.png');
    width: 168px/2;
    height: 224px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 168px/2 auto;
}

.img_wb{
    background-image: data-uri('@{img}bot_bar_wb.png');
    width: 168px/2;
    height: 224px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 168px/2 auto;
}

.img_wx{
    background-image: data-uri('@{img}bot_bar_wx.png');
    width: 168px/2;
    height: 224px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 168px/2 auto;
}

.img_lj{
    background-image: data-uri('@{img}bot_bar_lj.png');
    width: 168px/2;
    height: 224px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 168px/2 auto;
}

.img_nav_state{
    background-image: data-uri('@{img}nav_state_bg.png');
    width: 1024px/2;
    height: 162px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1024px/2 auto;
}

.img_nav_check{
    background-image: data-uri('@{img}btn_check.png');
    width: 145px/2;
    height: 145px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 145px/2 auto;
}

.img_nav_check_line{
    background-image: data-uri('@{img}check_line.png');
    width: 8px/2;
    height: 615px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px/2 auto;
}

.img_nav_title{
    background-image: url('@{img}nav_title.png');
    width: 549px;
    // height: 100%;
    height: 63px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 549px auto;
}

// 列表
.img_nav_bg{
    background-image: url('@{img}nav_bg.png');
    width: 750px;
    // height: 100%;
    height: 2418px/2;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 750px auto;
}

.img_nav_bg_pad{
    background-image: url('@{img}nav_bg_pad.jpg');
    width: 600px;
    // height: 100%;
    height: 1688px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 600px auto;
}

.img_nav_bg_max{
    background-image: url('@{img}nav_bg_max.jpg');
    width: 1665px/2;
    // height: 100%;
    height: 2418px/2;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1665px/2 auto;
}

.img_nav_bot_bg{
    background-image: url('@{img}nav_bot_bg.png');
    width: 1500px/2;
    height: 310px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1500px/2 auto;
}

.img_all_close{
    background-image: data-uri('@{img}/all_close.png');
    width: 277px/2;
    height: 57px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 277px/2 auto;
}

.img_all_open{
    background-image: data-uri('@{img}/all_open.png');
    width: 277px/2;
    height: 57px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 277px/2 auto;
}

.img_reset{
    background-image: data-uri('@{img}nav_btn_reset.png');
    width: 105px/2;
    height: 146px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105px/2 auto;
}

.img_share_tips{
    background-image: data-uri('@{img}share_tips.png');
    width: 471px/2;
    height: 136px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 471px/2 auto;
}

.img_btn_check_marker{
    background-image: url('@{img}btn_check_marker.png');
    width: 1024px/2;
    height: 162px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1024px/2 auto;
}

.img_nav_choose_bg{
    background-image: data-uri('@{img}choose_bg.png');
    width: 284px/2;
    height: 226px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 284px/2 auto;
}
.img_nav_choose_bg_click{
    background-image: data-uri('@{img}choose_bg_click.png');
    width: 284px/2;
    height: 226px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 284px/2 auto;
}

.img_nav_all_i{
    background-image: data-uri('@{img}nav_all_i.png');
    width: 91px/2;
    height: 90px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 91px/2 auto;
}
.img_nav_wz_i{
    background-image: data-uri('@{img}nav_wz_i.png');
    width: 121px/2;
    height: 78px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 121px/2 auto;
}
.img_nav_csd_i{
    background-image: data-uri('@{img}nav_csd_i.png');
    width: 87px/2;
    height: 107px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 87px/2 auto;
}

.img_nav_cld_i{
    background-image: data-uri('@{img}nav_cld_i.png');
    width: 93px/2;
    height: 96px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 93px/2 auto;
}
.img_nav_jd_i{
    background-image: data-uri('@{img}nav_jd_i.png');
    width: 83px/2;
    height: 99px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 83px/2 auto;
}

.img_nav_jdbsd_i{
    background-image: data-uri('@{img}nav_jdbsd_i.png');
    width: 111px/2;
    height: 95px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 111px/2 auto;
}
.img_nav_zj_i{
    background-image: data-uri('@{img}nav_zj_i.png');
    width: 146px/2;
    height: 92px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 146px/2 auto;
}
.img_nav_zz_i{
    background-image: data-uri('@{img}nav_zz_i.png');
    width: 116px/2;
    height: 116px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 116px/2 auto;
}
.img_nav_dybjz_i{
    background-image: data-uri('@{img}nav_bjd_i.png');
    width: 119px/2;
    height: 93px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 119px/2 auto;
}
.img_nav_gdwq_i{
    background-image: data-uri('@{img}nav_gdwq_i.png');
    width: 122px/2;
    height: 88px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 122px/2 auto;
}
.img_nav_zjbjz_i{
    background-image: data-uri('@{img}nav_zjbjz_i.png');
    width: 135px/2;
    height: 98px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 135px/2 auto;
}
.img_nav_sl_i{
    background-image: data-uri('@{img}nav_sl_i.png');
    width: 70px/2;
    height: 98px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px/2 auto;
}
.img_nav_i_0{
    background-image: data-uri('@{img}i_nav_0.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}

.img_nav_i_0_click{
    background-image: data-uri('@{img}i_nav_0_click.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_1{
    background-image: data-uri('@{img}i_nav_1.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}

.img_nav_i_1_click{
    background-image: data-uri('@{img}i_nav_1_click.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_2{
    background-image: data-uri('@{img}i_nav_2.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_2_click{
    background-image: data-uri('@{img}i_nav_2_click.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_3{
    background-image: data-uri('@{img}i_nav_3.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_3_click{
    background-image: data-uri('@{img}i_nav_3_click.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_4{
    background-image: data-uri('@{img}i_nav_4.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_4_click{
    background-image: data-uri('@{img}i_nav_4_click.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_5{
    background-image: data-uri('@{img}i_nav_5.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_5_click{
    background-image: data-uri('@{img}i_nav_5_click.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_bxx, .img_nav_bxx_click{
    background-image: data-uri('@{img}lv3/bxx.png');
    // width: 210px/2;
    // height: 210px/2;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: 210px/2 auto;
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_bxx_click{
//     background-image: data-uri('@{img}nav_bxx_click.png');
//     width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }

.img_nav_xbxx, .img_nav_xbxx_click{
    background-image: data-uri('@{img}lv3/xbxx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_xbxx_click{
//     background-image: data-uri('@{img}nav_xbxx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_fwq, .img_nav_fwq_click{
    background-image: data-uri('@{img}lv3/fwq.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_fwq_click{
//     background-image: data-uri('@{img}nav_fwq_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_dn, .img_nav_dn_click{
    background-image: data-uri('@{img}lv3/dn.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_dn_click{
//     background-image: data-uri('@{img}nav_dn_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_dnjx, .img_nav_dnjx_click{
    background-image: data-uri('@{img}lv3/dnjx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_dnjx_click{
//     background-image: data-uri('@{img}nav_dnjx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_wqx, .img_nav_wqx_click{
    background-image: data-uri('@{img}lv3/wqx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_wqx_click{
//     background-image: data-uri('@{img}nav_wqx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_dwqx, .img_nav_dwqx_click{
    background-image: data-uri('@{img}lv3/dwqx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_dwqx_click{
//     background-image: data-uri('@{img}nav_dwqx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_nw, .img_nav_nw_click{
    background-image: data-uri('@{img}lv3/nw.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_nw_click{
//     background-image: data-uri('@{img}nav_nw_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_cnw, .img_nav_cnw_click{
    background-image: data-uri('@{img}lv3/cnw.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_cnw_click{
//     background-image: data-uri('@{img}nav_cnw_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_xlx, .img_nav_xlx_click{
    background-image: data-uri('@{img}lv3/xlx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_xlx_click{
//     background-image: data-uri('@{img}nav_xlx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_dyx, .img_nav_dyx_click{
    background-image: data-uri('@{img}lv3/dyx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_dyx_click{
//     background-image: data-uri('@{img}nav_dyx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_gjg, .img_nav_gjg_click{
    background-image: data-uri('@{img}lv3/gjg.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_gjg_click{
//     background-image: data-uri('@{img}nav_gjg_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_dgjx, .img_nav_dgjx_click{
    background-image: data-uri('@{img}lv3/dgjx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_dgjx_click{
//     background-image: data-uri('@{img}nav_dgjx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_yf, .img_nav_yf_click{
    background-image: data-uri('@{img}lv3/yf.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_yf_click{
//     background-image: data-uri('@{img}nav_yf_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_hfkfhc{
    background-image: data-uri('@{img}lv3/hfkfhc.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
.img_nav_hfkfhc_click{
    background-image: data-uri('@{img}lv3/hfkfhc.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
.img_nav_sjb{
    background-image: data-uri('@{img}lv3/sjb.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
.img_nav_mt{
    background-image: data-uri('@{img}lv3/mt.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
.img_nav_yf_s, .img_nav_yf_s_click{
    background-image: data-uri('@{img}lv3/yf_s.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_yf_s_click{
//     background-image: data-uri('@{img}nav_yf_s_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_ylb, .img_nav_ylb_click{
    background-image: data-uri('@{img}lv3/ylb.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_ylb_click{
//     background-image: data-uri('@{img}nav_ylb_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_ylwzd, .img_nav_ylwzd_click{
    background-image: data-uri('@{img}lv3/ylwzd.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_ylwzd_click{
//     background-image: data-uri('@{img}nav_ylwzd_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_lxd, .img_nav_lxd_click{
    background-image: data-uri('@{img}lv3/lxd.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_lxd_click{
//     background-image: data-uri('@{img}nav_lxd_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_stx, .img_nav_stx_click{
    background-image: data-uri('@{img}lv3/stx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_stx_click{
//     background-image: data-uri('@{img}nav_stx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_cwg, .img_nav_cwg_click{
    background-image: data-uri('@{img}lv3/cwg.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_cwg_click{
//     background-image: data-uri('@{img}nav_cwg_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_gjcwx, .img_nav_gjcwx_click{
    background-image: data-uri('@{img}lv3/gjcwx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_gjcwx_click{
//     background-image: data-uri('@{img}nav_gjcwx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_ctg, .img_nav_ctg_click{
    background-image: data-uri('@{img}lv3/ctg.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_ctg_click{
//     background-image: data-uri('@{img}nav_ctg_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_dsb, .img_nav_dsb_click{
    background-image: data-uri('@{img}lv3/dsb.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_dsb_click{
//     background-image: data-uri('@{img}nav_dsb_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_kdx, .img_nav_kdx_click{
    background-image: data-uri('@{img}lv3/kdx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_kdx_click{
//     background-image: data-uri('@{img}nav_kdx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_hkcwx, .img_nav_hkcwx_click{
    background-image: data-uri('@{img}lv3/hkcwx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_hkcwx_click{
//     background-image: data-uri('@{img}nav_hkcwx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_ljx, .img_nav_ljx_click{
    background-image: data-uri('@{img}lv3/ljx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_ljx_click{
//     background-image: data-uri('@{img}nav_ljx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_snc{
    background-image: data-uri('@{img}lv3/snc.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
.img_nav_snc_click{
    background-image: data-uri('@{img}lv3/snc.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
.img_nav_ywwzx, .img_nav_ywwzx_click{
    background-image: data-uri('@{img}lv3/ywwzx.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_ywwzx_click{
//     background-image: data-uri('@{img}nav_ywwzx_click.png');
//      width: 210px/2;
//     height: 210px/2;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2 auto;
// }
.img_nav_yf, .img_nav_yf_click{
    background-image: data-uri('@{img}lv3/yf.png');
    width: 210px/2.5;
    height: 210px/2.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2.5 auto;
}
// .img_nav_yf_click{
//     background-image: data-uri('@{img}lv3/yf.png');
//     width: 210px/2.5;
//     height: 210px/2.5;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 210px/2.5 auto;
// }
.img_nav_csd{
    background-image: data-uri('@{img}nav_csd.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_csd_click{
    background-image: data-uri('@{img}nav_csd_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}


.img_nav_lccld{
    background-image: data-uri('@{img}nav_lccld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_lccld_click{
    background-image: data-uri('@{img}nav_lccld_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_glcld{
    background-image: data-uri('@{img}nav_sjcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_glcld_click{
    background-image: data-uri('@{img}nav_sjcld_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}


.img_nav_hjcld{
    background-image: data-uri('@{img}nav_hjcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_hjcld_click{
    background-image: data-uri('@{img}nav_hjcld_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_cgcld{
    background-image: data-uri('@{img}nav_cgcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_cgcld_click{
    background-image: data-uri('@{img}nav_cgcld_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ffcld{
    background-image: data-uri('@{img}nav_ffcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ffcld_click{
    background-image: data-uri('@{img}nav_ffcld_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dtcld{
    background-image: data-uri('@{img}nav_dtcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dtcld_click{
    background-image: data-uri('@{img}nav_dtcld_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_sjcld{
    background-image: data-uri('@{img}nav_sjcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_sjcld_click{
    background-image: data-uri('@{img}nav_sjcld_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_tjcld{
    background-image: data-uri('@{img}nav_tjcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_tjcld_click{
    background-image: data-uri('@{img}nav_tjcld_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_yscld{
    background-image: data-uri('@{img}nav_yscld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_yscld_click{
    background-image: data-uri('@{img}nav_yscld_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_xdjqz{
    background-image: data-uri('@{img}nav_xdjqz.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_xdjqz_click{
    background-image: data-uri('@{img}nav_xdjqz_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_xdjqzgjz{
    background-image: data-uri('@{img}nav_xdjqzgjz.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_xdjqzgjz_click{
    background-image: data-uri('@{img}nav_xdjqzgjz_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_boss{
    background-image: data-uri('@{img}/nav_boss.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_boss_click{
    background-image: data-uri('@{img}nav_boss_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_click_bg{
    background-image: data-uri('@{img}xdaba/nav_click_bg.png');
    width: 75px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75px auto;
}

.img_zj_open{
    background-image: data-uri('@{img}zj_icon_open.png');
    width: 84px/2;
    height: 84px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 84px/2 auto;
}

.img_zj_close{
    background-image: data-uri('@{img}zj_icon_close.png');
    width: 84px/2;
    height: 84px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 84px/2 auto;
}
// 全面战场
.img_nav_jd_a{
    background-image: data-uri('@{img}dzc_i/nav_jd_a.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_a_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_a_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_a1{
    background-image: data-uri('@{img}dzc_i/nav_jd_a1.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_a1_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_a1_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_a2{
    background-image: data-uri('@{img}dzc_i/nav_jd_a2.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_a2_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_a2_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_b{
    background-image: data-uri('@{img}dzc_i/nav_jd_b.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_b_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_b_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_b1{
    background-image: data-uri('@{img}dzc_i/nav_jd_b1.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_b1_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_b1_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_b2{
    background-image: data-uri('@{img}dzc_i/nav_jd_b2.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_b2_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_b2_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_c{
    background-image: data-uri('@{img}dzc_i/nav_jd_c.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_c_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_c_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_c1{
    background-image: data-uri('@{img}dzc_i/nav_jd_c1.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_c1_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_c1_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_c2{
    background-image: data-uri('@{img}dzc_i/nav_jd_c2.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_c2_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_c2_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_c3{
    background-image: data-uri('@{img}dzc_i/nav_jd_c3.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_c3_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_c3_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_d{
    background-image: data-uri('@{img}dzc_i/nav_jd_d.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_d1{
    background-image: data-uri('@{img}dzc_i/nav_jd_d1.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_d2{
    background-image: data-uri('@{img}dzc_i/nav_jd_d2.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_d_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_d_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}.img_nav_jd_d_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_d_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_d1_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_d1_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_d2_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_d2_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_e{
    background-image: data-uri('@{img}dzc_i/nav_jd_e.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_e_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_e_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_e1{
    background-image: data-uri('@{img}dzc_i/nav_jd_e1.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_e1_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_e1_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_e2{
    background-image: data-uri('@{img}dzc_i/nav_jd_e2.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_e2_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_e2_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_f{
    background-image: data-uri('@{img}dzc_i/nav_jd_f.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_f_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_f_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jd_g_click{
    background-image: data-uri('@{img}dzc_i/nav_jd_g_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jdbsd_r{
    background-image: data-uri('@{img}dzc_i/nav_g_jdbsd_g.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jdbsd_r_click{
    background-image: data-uri('@{img}dzc_i/nav_g_jdbsd_g_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jdbsd_g{
    background-image: data-uri('@{img}dzc_i/nav_f_jdbsd_r.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_jdbsd_g_click{
    background-image: data-uri('@{img}dzc_i/nav_f_jdbsd_r_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_orvtjc{
    background-image: data-uri('@{img}dzc_i/nav_orvtjc.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_orvtjc_click{
    background-image: data-uri('@{img}dzc_i/nav_orvtjc_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_zczsj{
    background-image: data-uri('@{img}dzc_i/nav_zczsj.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_zczsj_click{
    background-image: data-uri('@{img}dzc_i/nav_zczsj_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_gdjq{
    background-image: data-uri('@{img}dzc_i/nav_gdjq.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_gdjq_click{
    background-image: data-uri('@{img}dzc_i/nav_gdjq_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_gddyx{
    background-image: data-uri('@{img}dzc_i/nav_gddyx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_gddyx_click{
    background-image: data-uri('@{img}dzc_i/nav_gddyx_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_gdaap{
    background-image: data-uri('@{img}dzc_i/nav_gdaap.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_gdaap_click{
    background-image: data-uri('@{img}dzc_i/nav_gdaap_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_sxzjc{
    background-image: data-uri('@{img}dzc_i/nav_sxzjc.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_sxzjc_click{
    background-image: data-uri('@{img}dzc_i/nav_sxzjc_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_afp{
    background-image: data-uri('@{img}dzc_i/nav_afp.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_afp_click{
    background-image: data-uri('@{img}dzc_i/nav_afp_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_fkc{
    background-image: data-uri('@{img}dzc_i/nav_fkc.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_fkc_click{
    background-image: data-uri('@{img}dzc_i/nav_fkc_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_lstjp{
    background-image: data-uri('@{img}dzc_i/nav_lstjp.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_lstjp_click{
    background-image: data-uri('@{img}dzc_i/nav_lstjp_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_tjzsj{
    background-image: data-uri('@{img}dzc_i/nav_tjzsj.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_tjzsj_click{
    background-image: data-uri('@{img}dzc_i/nav_tjzsj_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_cfz{
    background-image: data-uri('@{img}dzc_i/nav_cfz.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_cfz_click{
    background-image: data-uri('@{img}dzc_i/nav_cfz_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_zjbjz{
    background-image: data-uri('@{img}dzc_i/nav_zjbjz.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_zjbjz_click{
    background-image: data-uri('@{img}dzc_i/nav_zjbjz_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_hs{
    background-image: data-uri('@{img}dzc_i/nav_hs.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_hs_click{
    background-image: data-uri('@{img}dzc_i/nav_hs_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dt{
    background-image: data-uri('@{img}dzc_i/nav_dt.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_dt_click{
    background-image: data-uri('@{img}dzc_i/nav_dt_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

// 载具
.deploy_atvqdxc{
    background-image: data-uri('@{img}dzc_i/deploy_atvqdxc.png');
    width: 181px/2;
    height: 98px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 181px/2 auto;
}

.deploy_f45azdj{
    background-image: data-uri('@{img}dzc_i/deploy_f45azdj.png');
    width: 181px/2;
    height: 98px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 181px/2 auto;
}

.deploy_sxzjc{
    background-image: data-uri('@{img}dzc_i/deploy_sxzjc.png');
    width: 181px/2;
    height: 98px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 181px/2 auto;
}

.deploy_ymfg{
    background-image: data-uri('@{img}dzc_i/deploy_ymfg.png');
    width: 123px/2;
    height: 108px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 123px/2 auto;
}
.deploy_zlxb{
    background-image: data-uri('@{img}dzc_i/deploy_zlxb.png');
    width: 88px/2;
    height: 109px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 88px/2 auto;
}
.deploy_zddd{
    background-image: data-uri('@{img}dzc_i/deploy_zddd.png');
    width: 91px/2;
    height: 92px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 91px/2 auto;
}
.deploy_pbqf{
    background-image: data-uri('@{img}dzc_i/deploy_pbqf.png');
    width: 104px/2;
    height: 104px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 104px/2 auto;
}
.deploy_cfz{
    background-image: data-uri('@{img}dzc_i/deploy_cfz.png');
    width: 202px/2;
    height: 66px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 202px/2 auto;
}
.deploy_g1bzc{
    background-image: data-uri('@{img}dzc_i/deploy_g1bzc.png');
    width: 199px/2;
    height: 166px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 199px/2 auto;
}
.deploy_lstjp{
    background-image: data-uri('@{img}dzc_i/deploy_lstjp.png');
    width: 190px/2;
    height: 89px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 190px/2 auto;
}
.deploy_m1a4zztk{
    background-image: data-uri('@{img}dzc_i/deploy_m1a4zztk.png');
    width: 256px/2;
    height: 105px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 256px/2 auto;
}
.deploy_orvtjc{
    background-image: data-uri('@{img}dzc_i/deploy_orvtjc.png');
    width: 211px/2;
    height: 119px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 211px/2 auto;
}
.deploy_tjzsj{
    background-image: data-uri('@{img}dzc_i/deploy_tjzsj.png');
    width: 246px/2;
    height: 91px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 246px/2 auto;
}
.deploy_xnzsj{
    background-image: data-uri('@{img}dzc_i/deploy_xnzsj.png');
    width: 233px/2;
    height: 77px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 233px/2 auto;
}
.deploy_losvjpc{
    background-image: data-uri('@{img}dzc_i/deploy_losvjpc.png');
    width: 188px/2;
    height: 84px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 188px/2 auto;
}
.deploy_aakfc{
    background-image: data-uri('@{img}dzc_i/deploy_aakfc.png');
    width: 193px/2;
    height: 117px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 193px/2 auto;
}
.deploy_mtt{
    background-image: data-uri('@{img}dzc_i/deploy_mtt.png');
    width: 202px/2;
    height: 75px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 202px/2 auto;
}
.deploy_qxtk{
    background-image: data-uri('@{img}dzc_i/deploy_qxtk.png');
    width: 202px/2;
    height: 82px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 202px/2 auto;
}
.nav-option-ctn{
    &.f{
        .img_nav_jdbsd_r{
            background-image: data-uri('@{img}dzc_i/nav_g_jdbsd_r.png');
            width: 210px/2;
            height: 210px/2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 210px/2 auto;
        }
        .img_nav_jdbsd_r_click{
            background-image: data-uri('@{img}dzc_i/nav_g_jdbsd_r_click.png');
            width: 210px/2;
            height: 210px/2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 210px/2 auto;
        }
        .img_nav_jdbsd_g{
            background-image: data-uri('@{img}dzc_i/nav_f_jdbsd_g.png');
            width: 210px/2;
            height: 210px/2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 210px/2 auto;
        }
        .img_nav_jdbsd_g_click{
            background-image: data-uri('@{img}dzc_i/nav_f_jdbsd_g_click.png');
            width: 210px/2;
            height: 210px/2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 210px/2 auto;
        }
    }
    &.g{
        .img_nav_jdbsd_r{
            background-image: data-uri('@{img}dzc_i/nav_g_jdbsd_g.png');
            width: 210px/2;
            height: 210px/2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 210px/2 auto;
        }
        .img_nav_jdbsd_r_click{
            background-image: data-uri('@{img}dzc_i/nav_g_jdbsd_g_click.png');
            width: 210px/2;
            height: 210px/2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 210px/2 auto;
        }
        .img_nav_jdbsd_g{
            background-image: data-uri('@{img}dzc_i/nav_f_jdbsd_r.png');
            width: 210px/2;
            height: 210px/2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 210px/2 auto;
        }
        .img_nav_jdbsd_g_click{
            background-image: data-uri('@{img}dzc_i/nav_f_jdbsd_r_click.png');
            width: 210px/2;
            height: 210px/2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 210px/2 auto;
        }
    }
}

.btn_back_game{
    background-image: data-uri('@{img}btn_back_game.png');
    width: 40px/2;
    height: 48px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px/2 auto;
}
