@img: '../img/';
.img_bp_bot_bg {
    background-image: url('@{img}/bp/bp_bot_bg.png');
}
        
.img_bp_bot_bg_s {
    background-image: url('@{img}/bp/bp_bot_bg.png');
    width: 7.5rem;
    height: 1.68rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_icon_border {
    background-image: url('@{img}/bp/bp_icon_border.png');
}
        
.img_bp_icon_border_s {
    background-image: url('@{img}/bp/bp_icon_border.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_nav_bg {
    background-image: url('@{img}/bp/bp_nav_bg.png');
}
        
.img_bp_nav_bg_s {
    background-image: url('@{img}/bp/bp_nav_bg.png');
    width: 7.5rem;
    height: 9rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_nav_item_bg {
    background-image: url('@{img}/bp/bp_nav_item_bg.png');
}
        
.img_bp_nav_item_bg_s {
    background-image: url('@{img}/bp/bp_nav_item_bg.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_nav_item_bg_act {
    background-image: url('@{img}/bp/bp_nav_item_bg_act.png');
}
        
.img_bp_nav_item_bg_act_s {
    background-image: url('@{img}/bp/bp_nav_item_bg_act.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_point_bg {
    background-image: url('@{img}/bp/bp_point_bg.png');
}
        
.img_bp_point_bg_s {
    background-image: url('@{img}/bp/bp_point_bg.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_reset {
    background-image: url('@{img}/bp/bp_reset.png');
}
        
.img_bp_reset_s {
    background-image: url('@{img}/bp/bp_reset.png');
    width: 0.72rem;
    height: 0.72rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_fgx {
    background-image: url('@{img}/bp/fgx.png');
}
        
.img_fgx_s {
    background-image: url('@{img}/bp/fgx.png');
    width: 6.52rem;
    height: 0.02rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_csd {
    background-image: url('@{img}/bp/icon_csd.png');
}
        
.img_icon_csd_s {
    background-image: url('@{img}/bp/icon_csd.png');
    width: 0.44rem;
    height: 0.53rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_djjs {
    background-image: url('@{img}/bp/icon_djjs.png');
}
        
.img_icon_djjs_s {
    background-image: url('@{img}/bp/icon_djjs.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_dltj {
    background-image: url('@{img}/bp/icon_dltj.png');
}
        
.img_icon_dltj_s {
    background-image: url('@{img}/bp/icon_dltj.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_dwlg {
    background-image: url('@{img}/bp/icon_dwlg.png');
}
        
.img_icon_dwlg_s {
    background-image: url('@{img}/bp/icon_dwlg.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_fckjywd {
    background-image: url('@{img}/bp/icon_fckjywd.png');
}
        
.img_icon_fckjywd_s {
    background-image: url('@{img}/bp/icon_fckjywd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_fhrsd {
    background-image: url('@{img}/bp/icon_fhrsd.png');
}
        
.img_icon_fhrsd_s {
    background-image: url('@{img}/bp/icon_fhrsd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_fy {
    background-image: url('@{img}/bp/icon_fy.png');
}
        
.img_icon_fy_s {
    background-image: url('@{img}/bp/icon_fy.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_hdd {
    background-image: url('@{img}/bp/icon_hdd.png');
}
        
.img_icon_hdd_s {
    background-image: url('@{img}/bp/icon_hdd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_hl {
    background-image: url('@{img}/bp/icon_hl.png');
}
        
.img_icon_hl_s {
    background-image: url('@{img}/bp/icon_hl.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_jt {
    background-image: url('@{img}/bp/icon_jt.png');
}
        
.img_icon_jt_s {
    background-image: url('@{img}/bp/icon_jt.png');
    width: 0.26rem;
    height: 0.24rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_ln {
    background-image: url('@{img}/bp/icon_ln.png');
}
        
.img_icon_ln_s {
    background-image: url('@{img}/bp/icon_ln.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_mhq {
    background-image: url('@{img}/bp/icon_mhq.png');
}
        
.img_icon_mhq_s {
    background-image: url('@{img}/bp/icon_mhq.png');
    width: 0.41rem;
    height: 0.78rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_sld {
    background-image: url('@{img}/bp/icon_sld.png');
}
        
.img_icon_sld_s {
    background-image: url('@{img}/bp/icon_sld.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_slzsp {
    background-image: url('@{img}/bp/icon_slzsp.png');
}
        
.img_icon_slzsp_s {
    background-image: url('@{img}/bp/icon_slzsp.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_wl {
    background-image: url('@{img}/bp/icon_wl.png');
}
        
.img_icon_wl_s {
    background-image: url('@{img}/bp/icon_wl.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_wll {
    background-image: url('@{img}/bp/icon_wll.png');
}
        
.img_icon_wll_s {
    background-image: url('@{img}/bp/icon_wll.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_yd {
    background-image: url('@{img}/bp/icon_yd.png');
}
        
.img_icon_yd_s {
    background-image: url('@{img}/bp/icon_yd.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_ywd {
    background-image: url('@{img}/bp/icon_ywd.png');
}
        
.img_icon_ywd_s {
    background-image: url('@{img}/bp/icon_ywd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_map_htzzz {
    background-image: url('@{img}/bp/map_htzzz.png');
}
        
.img_map_htzzz_s {
    background-image: url('@{img}/bp/map_htzzz.png');
    width: 3.94rem;
    height: 0.72rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_map_lswdz {
    background-image: url('@{img}/bp/map_lswdz.png');
}
        
.img_map_lswdz_s {
    background-image: url('@{img}/bp/map_lswdz.png');
    width: 3.94rem;
    height: 0.72rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_map_smezy {
    background-image: url('@{img}/bp/map_smezy.png');
}
        
.img_map_smezy_s {
    background-image: url('@{img}/bp/map_smezy.png');
    width: 3.94rem;
    height: 0.72rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_nav_state_bp {
    background-image: url('@{img}/bp/nav_state_bp.png');
}
        
.img_nav_state_bp_s {
    background-image: url('@{img}/bp/nav_state_bp.png');
    width: 5.12rem;
    height: 0.72rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        