@img: '../img/';
.img_bp_bot_bg {
    background-image: url('@{img}/bp/bp_bot_bg.png');
}
        
.img_bp_bot_bg_s {
    background-image: url('@{img}/bp/bp_bot_bg.png');
    width: 7.5rem;
    height: 1.68rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_icon_border {
    background-image: url('@{img}/bp/bp_icon_border.png');
}
        
.img_bp_icon_border_s {
    background-image: url('@{img}/bp/bp_icon_border.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_nav_bg {
    background-image: url('@{img}/bp/bp_nav_bg.png');
}
        
.img_bp_nav_bg_s {
    background-image: url('@{img}/bp/bp_nav_bg.png');
    width: 7.5rem;
    height: 9rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_nav_bg_l {
    background-image: url('@{img}/bp/bp_nav_bg_l.jpg');
}
        
.img_bp_nav_bg_l_s {
    background-image: url('@{img}/bp/bp_nav_bg_l.jpg');
    width: 6.4rem;
    height: 7.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_nav_item_bg {
    background-image: url('@{img}/bp/bp_nav_item_bg.png');
}
        
.img_bp_nav_item_bg_s {
    background-image: url('@{img}/bp/bp_nav_item_bg.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_nav_item_bg_act {
    background-image: url('@{img}/bp/bp_nav_item_bg_act.png');
}
        
.img_bp_nav_item_bg_act_s {
    background-image: url('@{img}/bp/bp_nav_item_bg_act.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_point_bg {
    background-image: url('@{img}/bp/bp_point_bg.png');
}
        
.img_bp_point_bg_s {
    background-image: url('@{img}/bp/bp_point_bg.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_bp_reset {
    background-image: url('@{img}/bp/bp_reset.png');
}
        
.img_bp_reset_s {
    background-image: url('@{img}/bp/bp_reset.png');
    width: 0.72rem;
    height: 0.72rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_fgx {
    background-image: url('@{img}/bp/fgx.png');
}
        
.img_fgx_s {
    background-image: url('@{img}/bp/fgx.png');
    width: 6.52rem;
    height: 0.02rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_htzzz_a {
    background-image: url('@{img}/bp/htzzz_a.jpg');
}
        
.img_htzzz_a_s {
    background-image: url('@{img}/bp/htzzz_a.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_htzzz_b {
    background-image: url('@{img}/bp/htzzz_b.jpg');
}
        
.img_htzzz_b_s {
    background-image: url('@{img}/bp/htzzz_b.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_htzzz_ff {
    background-image: url('@{img}/bp/htzzz_ff.jpg');
}
        
.img_htzzz_ff_s {
    background-image: url('@{img}/bp/htzzz_ff.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_htzzz_gf {
    background-image: url('@{img}/bp/htzzz_gf.jpg');
}
        
.img_htzzz_gf_s {
    background-image: url('@{img}/bp/htzzz_gf.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_htzzz_mhq1 {
    background-image: url('@{img}/bp/htzzz_mhq1.jpg');
}
        
.img_htzzz_mhq1_s {
    background-image: url('@{img}/bp/htzzz_mhq1.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_htzzz_mhq2 {
    background-image: url('@{img}/bp/htzzz_mhq2.jpg');
}
        
.img_htzzz_mhq2_s {
    background-image: url('@{img}/bp/htzzz_mhq2.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_htzzz_zl {
    background-image: url('@{img}/bp/htzzz_zl.jpg');
}
        
.img_htzzz_zl_s {
    background-image: url('@{img}/bp/htzzz_zl.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_bd {
    background-image: url('@{img}/bp/icon_bd.png');
}
        
.img_icon_bd_s {
    background-image: url('@{img}/bp/icon_bd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_bp {
    background-image: url('@{img}/bp/icon_bp.png');
}
        
.img_icon_bp_s {
    background-image: url('@{img}/bp/icon_bp.png');
    width: 0.26rem;
    height: 0.26rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_csd {
    background-image: url('@{img}/bp/icon_csd.png');
}
        
.img_icon_csd_s {
    background-image: url('@{img}/bp/icon_csd.png');
    width: 0.44rem;
    height: 0.53rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_cxzd {
    background-image: url('@{img}/bp/icon_cxzd.png');
}
        
.img_icon_cxzd_s {
    background-image: url('@{img}/bp/icon_cxzd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_czms {
    background-image: url('@{img}/bp/icon_czms.png');
}
        
.img_icon_czms_s {
    background-image: url('@{img}/bp/icon_czms.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_djjs {
    background-image: url('@{img}/bp/icon_djjs.png');
}
        
.img_icon_djjs_s {
    background-image: url('@{img}/bp/icon_djjs.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_dltj {
    background-image: url('@{img}/bp/icon_dltj.png');
}
        
.img_icon_dltj_s {
    background-image: url('@{img}/bp/icon_dltj.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_dqzz {
    background-image: url('@{img}/bp/icon_dqzz.png');
}
        
.img_icon_dqzz_s {
    background-image: url('@{img}/bp/icon_dqzz.png');
    width: 0.8rem;
    height: 0.81rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_dwlg {
    background-image: url('@{img}/bp/icon_dwlg.png');
}
        
.img_icon_dwlg_s {
    background-image: url('@{img}/bp/icon_dwlg.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_dxfd {
    background-image: url('@{img}/bp/icon_dxfd.png');
}
        
.img_icon_dxfd_s {
    background-image: url('@{img}/bp/icon_dxfd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_fckjywd {
    background-image: url('@{img}/bp/icon_fckjywd.png');
}
        
.img_icon_fckjywd_s {
    background-image: url('@{img}/bp/icon_fckjywd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_fh {
    background-image: url('@{img}/bp/icon_fh.png');
}
        
.img_icon_fh_s {
    background-image: url('@{img}/bp/icon_fh.png');
    width: 0.25rem;
    height: 0.26rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_fhcl {
    background-image: url('@{img}/bp/icon_fhcl.png');
}
        
.img_icon_fhcl_s {
    background-image: url('@{img}/bp/icon_fhcl.png');
    width: 0.8rem;
    height: 0.82rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_fhrsd {
    background-image: url('@{img}/bp/icon_fhrsd.png');
}
        
.img_icon_fhrsd_s {
    background-image: url('@{img}/bp/icon_fhrsd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_fy {
    background-image: url('@{img}/bp/icon_fy.png');
}
        
.img_icon_fy_s {
    background-image: url('@{img}/bp/icon_fy.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_fzxt {
    background-image: url('@{img}/bp/icon_fzxt.png');
}
        
.img_icon_fzxt_s {
    background-image: url('@{img}/bp/icon_fzxt.png');
    width: 0.8rem;
    height: 0.81rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_gxjy {
    background-image: url('@{img}/bp/icon_gxjy.png');
}
        
.img_icon_gxjy_s {
    background-image: url('@{img}/bp/icon_gxjy.png');
    width: 0.8rem;
    height: 0.81rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_gxzl {
    background-image: url('@{img}/bp/icon_gxzl.png');
}
        
.img_icon_gxzl_s {
    background-image: url('@{img}/bp/icon_gxzl.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_hdd {
    background-image: url('@{img}/bp/icon_hdd.png');
}
        
.img_icon_hdd_s {
    background-image: url('@{img}/bp/icon_hdd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_hl {
    background-image: url('@{img}/bp/icon_hl.png');
}
        
.img_icon_hl_s {
    background-image: url('@{img}/bp/icon_hl.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_jb {
    background-image: url('@{img}/bp/icon_jb.png');
}
        
.img_icon_jb_s {
    background-image: url('@{img}/bp/icon_jb.png');
    width: 0.28rem;
    height: 0.28rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_jqzz {
    background-image: url('@{img}/bp/icon_jqzz.png');
}
        
.img_icon_jqzz_s {
    background-image: url('@{img}/bp/icon_jqzz.png');
    width: 0.81rem;
    height: 0.81rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_jsq {
    background-image: url('@{img}/bp/icon_jsq.png');
}
        
.img_icon_jsq_s {
    background-image: url('@{img}/bp/icon_jsq.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_jt {
    background-image: url('@{img}/bp/icon_jt.png');
}
        
.img_icon_jt_s {
    background-image: url('@{img}/bp/icon_jt.png');
    width: 0.26rem;
    height: 0.24rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_jzfy {
    background-image: url('@{img}/bp/icon_jzfy.png');
}
        
.img_icon_jzfy_s {
    background-image: url('@{img}/bp/icon_jzfy.png');
    width: 0.8rem;
    height: 0.81rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_ldfsq {
    background-image: url('@{img}/bp/icon_ldfsq.png');
}
        
.img_icon_ldfsq_s {
    background-image: url('@{img}/bp/icon_ldfsq.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_ln {
    background-image: url('@{img}/bp/icon_ln.png');
}
        
.img_icon_ln_s {
    background-image: url('@{img}/bp/icon_ln.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_mhq {
    background-image: url('@{img}/bp/icon_mhq.png');
}
        
.img_icon_mhq_s {
    background-image: url('@{img}/bp/icon_mhq.png');
    width: 0.41rem;
    height: 0.78rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_mqg {
    background-image: url('@{img}/bp/icon_mqg.png');
}
        
.img_icon_mqg_s {
    background-image: url('@{img}/bp/icon_mqg.png');
    width: 0.77rem;
    height: 0.78rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_myr {
    background-image: url('@{img}/bp/icon_myr.png');
}
        
.img_icon_myr_s {
    background-image: url('@{img}/bp/icon_myr.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_sbxj {
    background-image: url('@{img}/bp/icon_sbxj.png');
}
        
.img_icon_sbxj_s {
    background-image: url('@{img}/bp/icon_sbxj.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_sld {
    background-image: url('@{img}/bp/icon_sld.png');
}
        
.img_icon_sld_s {
    background-image: url('@{img}/bp/icon_sld.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_slzsp {
    background-image: url('@{img}/bp/icon_slzsp.png');
}
        
.img_icon_slzsp_s {
    background-image: url('@{img}/bp/icon_slzsp.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_snyt {
    background-image: url('@{img}/bp/icon_snyt.png');
}
        
.img_icon_snyt_s {
    background-image: url('@{img}/bp/icon_snyt.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_spzd {
    background-image: url('@{img}/bp/icon_spzd.png');
}
        
.img_icon_spzd_s {
    background-image: url('@{img}/bp/icon_spzd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_ssxs {
    background-image: url('@{img}/bp/icon_ssxs.png');
}
        
.img_icon_ssxs_s {
    background-image: url('@{img}/bp/icon_ssxs.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_war {
    background-image: url('@{img}/bp/icon_war.png');
}
        
.img_icon_war_s {
    background-image: url('@{img}/bp/icon_war.png');
    width: 0.23rem;
    height: 0.24rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_wl {
    background-image: url('@{img}/bp/icon_wl.png');
}
        
.img_icon_wl_s {
    background-image: url('@{img}/bp/icon_wl.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_wll {
    background-image: url('@{img}/bp/icon_wll.png');
}
        
.img_icon_wll_s {
    background-image: url('@{img}/bp/icon_wll.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_wrj {
    background-image: url('@{img}/bp/icon_wrj.png');
}
        
.img_icon_wrj_s {
    background-image: url('@{img}/bp/icon_wrj.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_yd {
    background-image: url('@{img}/bp/icon_yd.png');
}
        
.img_icon_yd_s {
    background-image: url('@{img}/bp/icon_yd.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_ym {
    background-image: url('@{img}/bp/icon_ym.png');
}
        
.img_icon_ym_s {
    background-image: url('@{img}/bp/icon_ym.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_ywd {
    background-image: url('@{img}/bp/icon_ywd.png');
}
        
.img_icon_ywd_s {
    background-image: url('@{img}/bp/icon_ywd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_zcjs {
    background-image: url('@{img}/bp/icon_zcjs.png');
}
        
.img_icon_zcjs_s {
    background-image: url('@{img}/bp/icon_zcjs.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_zmdw {
    background-image: url('@{img}/bp/icon_zmdw.png');
}
        
.img_icon_zmdw_s {
    background-image: url('@{img}/bp/icon_zmdw.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_znzhd {
    background-image: url('@{img}/bp/icon_znzhd.png');
}
        
.img_icon_znzhd_s {
    background-image: url('@{img}/bp/icon_znzhd.png');
    width: 0.8rem;
    height: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_zshc {
    background-image: url('@{img}/bp/icon_zshc.png');
}
        
.img_icon_zshc_s {
    background-image: url('@{img}/bp/icon_zshc.png');
    width: 0.8rem;
    height: 0.81rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_icon_zy {
    background-image: url('@{img}/bp/icon_zy.png');
}
        
.img_icon_zy_s {
    background-image: url('@{img}/bp/icon_zy.png');
    width: 0.88rem;
    height: 0.88rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_lswdz_a {
    background-image: url('@{img}/bp/lswdz_a.jpg');
}
        
.img_lswdz_a_s {
    background-image: url('@{img}/bp/lswdz_a.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_lswdz_b {
    background-image: url('@{img}/bp/lswdz_b.jpg');
}
        
.img_lswdz_b_s {
    background-image: url('@{img}/bp/lswdz_b.jpg');
    width: 6.84rem;
    height: 3.83rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_lswdz_ff {
    background-image: url('@{img}/bp/lswdz_ff.jpg');
}
        
.img_lswdz_ff_s {
    background-image: url('@{img}/bp/lswdz_ff.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_lswdz_gd {
    background-image: url('@{img}/bp/lswdz_gd.jpg');
}
        
.img_lswdz_gd_s {
    background-image: url('@{img}/bp/lswdz_gd.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_lswdz_gf {
    background-image: url('@{img}/bp/lswdz_gf.jpg');
}
        
.img_lswdz_gf_s {
    background-image: url('@{img}/bp/lswdz_gf.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_lswdz_hs {
    background-image: url('@{img}/bp/lswdz_hs.jpg');
}
        
.img_lswdz_hs_s {
    background-image: url('@{img}/bp/lswdz_hs.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_lswdz_mhq1 {
    background-image: url('@{img}/bp/lswdz_mhq1.jpg');
}
        
.img_lswdz_mhq1_s {
    background-image: url('@{img}/bp/lswdz_mhq1.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_lswdz_mhq2 {
    background-image: url('@{img}/bp/lswdz_mhq2.jpg');
}
        
.img_lswdz_mhq2_s {
    background-image: url('@{img}/bp/lswdz_mhq2.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_lswdz_mqg {
    background-image: url('@{img}/bp/lswdz_mqg.jpg');
}
        
.img_lswdz_mqg_s {
    background-image: url('@{img}/bp/lswdz_mqg.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_map_htzzz {
    background-image: url('@{img}/bp/map_htzzz.png');
}
        
.img_map_htzzz_s {
    background-image: url('@{img}/bp/map_htzzz.png');
    width: 3.94rem;
    height: 0.72rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_map_lswdz {
    background-image: url('@{img}/bp/map_lswdz.png');
}
        
.img_map_lswdz_s {
    background-image: url('@{img}/bp/map_lswdz.png');
    width: 3.94rem;
    height: 0.72rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_map_smezy {
    background-image: url('@{img}/bp/map_smezy.png');
}
        
.img_map_smezy_s {
    background-image: url('@{img}/bp/map_smezy.png');
    width: 3.94rem;
    height: 0.72rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_marker_pop_bg {
    background-image: url('@{img}/bp/marker_pop_bg.jpg');
}
        
.img_marker_pop_bg_s {
    background-image: url('@{img}/bp/marker_pop_bg.jpg');
    width: 7.5rem;
    height: 6.35rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_marker_pop_bg_l {
    background-image: url('@{img}/bp/marker_pop_bg_l.jpg');
}
        
.img_marker_pop_bg_l_s {
    background-image: url('@{img}/bp/marker_pop_bg_l.jpg');
    width: 6.4rem;
    height: 7.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_marker_pop_fgx {
    background-image: url('@{img}/bp/marker_pop_fgx.png');
}
        
.img_marker_pop_fgx_s {
    background-image: url('@{img}/bp/marker_pop_fgx.png');
    width: 6.84rem;
    height: 0.02rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_nav_state_bp {
    background-image: url('@{img}/bp/nav_state_bp.png');
}
        
.img_nav_state_bp_s {
    background-image: url('@{img}/bp/nav_state_bp.png');
    width: 5.12rem;
    height: 0.72rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_smezy_a {
    background-image: url('@{img}/bp/smezy_a.jpg');
}
        
.img_smezy_a_s {
    background-image: url('@{img}/bp/smezy_a.jpg');
    width: 6.84rem;
    height: 3.91rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_smezy_b {
    background-image: url('@{img}/bp/smezy_b.jpg');
}
        
.img_smezy_b_s {
    background-image: url('@{img}/bp/smezy_b.jpg');
    width: 6.84rem;
    height: 3.95rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_smezy_ff {
    background-image: url('@{img}/bp/smezy_ff.jpg');
}
        
.img_smezy_ff_s {
    background-image: url('@{img}/bp/smezy_ff.jpg');
    width: 6.84rem;
    height: 3.93rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_smezy_gf {
    background-image: url('@{img}/bp/smezy_gf.jpg');
}
        
.img_smezy_gf_s {
    background-image: url('@{img}/bp/smezy_gf.jpg');
    width: 6.84rem;
    height: 3.97rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_smezy_mhq1 {
    background-image: url('@{img}/bp/smezy_mhq1.jpg');
}
        
.img_smezy_mhq1_s {
    background-image: url('@{img}/bp/smezy_mhq1.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_smezy_mhq2 {
    background-image: url('@{img}/bp/smezy_mhq2.jpg');
}
        
.img_smezy_mhq2_s {
    background-image: url('@{img}/bp/smezy_mhq2.jpg');
    width: 6.84rem;
    height: 3.85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_smezy_qb {
    background-image: url('@{img}/bp/smezy_qb.jpg');
}
        
.img_smezy_qb_s {
    background-image: url('@{img}/bp/smezy_qb.jpg');
    width: 6.84rem;
    height: 3.91rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        
.img_smezy_zt {
    background-image: url('@{img}/bp/smezy_zt.jpg');
}
        
.img_smezy_zt_s {
    background-image: url('@{img}/bp/smezy_zt.jpg');
    width: 6.84rem;
    height: 3.96rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
        