.img_map_mask{
    background-image: url('@{img}map_mask.png');
    width: 1500px/2;
    height: 3248px/2;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1500px/2 auto;
}

.img_right_nav_bg{
    background-image: url('@{img}right_men_list.png');
    width: 201px/2;
    height: 852px/2;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 201px/2 auto;
}

.img_btn_right_nav{
    background-image: data-uri('@{img}btn_right_menu.png');
    width: 88px/2;
    height: 61px/2;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 88px/2 auto;
}

.img_log_pop{
    background-image: url('@{img}log_pop.png');
    width: 1246px/2;
    height: 1651px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1246px/2 auto;
}

.img_pop_fgx{
    background-image: data-uri('@{img}pop_fgx.png');
    width: 1000px/2;
    height: 2px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1000px/2 auto;
}

.img_qq{
    background-image: data-uri('@{img}bot_bar_qq.png');
    width: 168px/2;
    height: 224px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 168px/2 auto;
}

.img_kj{
    background-image: data-uri('@{img}bot_bar_kj.png');
    width: 168px/2;
    height: 224px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 168px/2 auto;
}

.img_wb{
    background-image: data-uri('@{img}bot_bar_wb.png');
    width: 168px/2;
    height: 224px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 168px/2 auto;
}

.img_wx{
    background-image: data-uri('@{img}bot_bar_wx.png');
    width: 168px/2;
    height: 224px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 168px/2 auto;
}

.img_lj{
    background-image: data-uri('@{img}bot_bar_lj.png');
    width: 168px/2;
    height: 224px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 168px/2 auto;
}

.img_nav_state{
    background-image: data-uri('@{img}nav_state_bg.png');
    width: 1024px/2;
    height: 162px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1024px/2 auto;
}

.img_nav_check{
    background-image: data-uri('@{img}btn_check.png');
    width: 145px/2;
    height: 145px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 145px/2 auto;
}

.img_nav_check_line{
    background-image: data-uri('@{img}check_line.png');
    width: 8px/2;
    height: 615px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px/2 auto;
}



// 列表
.img_nav_bg{
    background-image: url('@{img}nav_bg.png');
    width: 750px;
    // height: 100%;
    height: 2418px/2;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 750px auto;
}

.img_nav_bot_bg{
    background-image: url('@{img}nav_bot_bg.png');
    width: 1500px/2;
    height: 310px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1500px/2 auto;
}

.img_all_close{
    background-image: data-uri('@{img}/all_close.png');
    width: 277px/2;
    height: 57px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 277px/2 auto;
}

.img_all_open{
    background-image: data-uri('@{img}/all_open.png');
    width: 277px/2;
    height: 57px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 277px/2 auto;
}

.img_reset{
    background-image: data-uri('@{img}nav_btn_reset.png');
    width: 105px/2;
    height: 146px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105px/2 auto;
}

.img_share_tips{
    background-image: data-uri('@{img}share_tips.png');
    width: 471px/2;
    height: 136px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 471px/2 auto;
}

.img_btn_check_marker{
    background-image: url('@{img}btn_check_marker.png');
    width: 1024px/2;
    height: 162px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1024px/2 auto;
}



.img_nav_i_0{
    background-image: data-uri('@{img}i_nav_0.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}

.img_nav_i_0_click{
    background-image: data-uri('@{img}i_nav_0_click.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_1{
    background-image: data-uri('@{img}i_nav_1.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}

.img_nav_i_1_click{
    background-image: data-uri('@{img}i_nav_1_click.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_2{
    background-image: data-uri('@{img}i_nav_2.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_2_click{
    background-image: data-uri('@{img}i_nav_2_click.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_3{
    background-image: data-uri('@{img}i_nav_3.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_3_click{
    background-image: data-uri('@{img}i_nav_3_click.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_4{
    background-image: data-uri('@{img}i_nav_4.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_4_click{
    background-image: data-uri('@{img}i_nav_4_click.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_5{
    background-image: data-uri('@{img}i_nav_5.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_i_5_click{
    background-image: data-uri('@{img}i_nav_5_click.png');
    width: 310px/2;
    height: 250px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 310px/2 auto;
}


.img_nav_bxx{
    background-image: data-uri('@{img}nav_bxx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_bxx_click{
    background-image: data-uri('@{img}nav_bxx_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_xbxx{
    background-image: data-uri('@{img}nav_xbxx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_xbxx_click{
    background-image: data-uri('@{img}nav_xbxx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_fwq{
    background-image: data-uri('@{img}nav_fwq.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_fwq_click{
    background-image: data-uri('@{img}nav_fwq_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dn{
    background-image: data-uri('@{img}nav_dn.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dn_click{
    background-image: data-uri('@{img}nav_dn_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dnjx{
    background-image: data-uri('@{img}nav_dnjx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dnjx_click{
    background-image: data-uri('@{img}nav_dnjx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_wqx{
    background-image: data-uri('@{img}nav_wqx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_wqx_click{
    background-image: data-uri('@{img}nav_wqx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dwqx{
    background-image: data-uri('@{img}nav_dwqx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dwqx_click{
    background-image: data-uri('@{img}nav_dwqx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_nw{
    background-image: data-uri('@{img}nav_nw.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_nw_click{
    background-image: data-uri('@{img}nav_nw_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_cnw{
    background-image: data-uri('@{img}nav_cnw.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_cnw_click{
    background-image: data-uri('@{img}nav_cnw_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_xlx{
    background-image: data-uri('@{img}nav_xlx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_xlx_click{
    background-image: data-uri('@{img}nav_xlx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dyx{
    background-image: data-uri('@{img}nav_dyx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dyx_click{
    background-image: data-uri('@{img}nav_dyx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_gjg{
    background-image: data-uri('@{img}nav_gjg.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_gjg_click{
    background-image: data-uri('@{img}nav_gjg_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dgjx{
    background-image: data-uri('@{img}nav_dgjx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dgjx_click{
    background-image: data-uri('@{img}nav_dgjx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_yf{
    background-image: data-uri('@{img}nav_yf.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_yf_click{
    background-image: data-uri('@{img}nav_yf_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_yf_s{
    background-image: data-uri('@{img}nav_yf_s.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_yf_s_click{
    background-image: data-uri('@{img}nav_yf_s_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ylb{
    background-image: data-uri('@{img}nav_ylb.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ylb_click{
    background-image: data-uri('@{img}nav_ylb_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ylwzd{
    background-image: data-uri('@{img}nav_ylwzd.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ylwzd_click{
    background-image: data-uri('@{img}nav_ylwzd_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_lxd{
    background-image: data-uri('@{img}nav_lxd.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_lxd_click{
    background-image: data-uri('@{img}nav_lxd_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_stx{
    background-image: data-uri('@{img}nav_stx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_stx_click{
    background-image: data-uri('@{img}nav_stx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_cwg{
    background-image: data-uri('@{img}nav_cwg.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_cwg_click{
    background-image: data-uri('@{img}nav_cwg_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_gjcwx{
    background-image: data-uri('@{img}nav_gjcwx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_gjcwx_click{
    background-image: data-uri('@{img}nav_gjcwx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ctg{
    background-image: data-uri('@{img}nav_ctg.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ctg_click{
    background-image: data-uri('@{img}nav_ctg_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dsb{
    background-image: data-uri('@{img}nav_dsb.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dsb_click{
    background-image: data-uri('@{img}nav_dsb_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_kdx{
    background-image: data-uri('@{img}nav_kdx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_kdx_click{
    background-image: data-uri('@{img}nav_kdx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_hkcwx{
    background-image: data-uri('@{img}nav_hkcwx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_hkcwx_click{
    background-image: data-uri('@{img}nav_hkcwx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ljx{
    background-image: data-uri('@{img}nav_ljx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ljx_click{
    background-image: data-uri('@{img}nav_ljx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_snc{
    background-image: data-uri('@{img}nav_snc.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_snc_click{
    background-image: data-uri('@{img}nav_snc_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ywwzx{
    background-image: data-uri('@{img}nav_ywwzx.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ywwzx_click{
    background-image: data-uri('@{img}nav_ywwzx_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_yf{
    background-image: data-uri('@{img}nav_yf.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_yf_click{
    background-image: data-uri('@{img}nav_yf_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_csd{
    background-image: data-uri('@{img}nav_csd.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_csd_click{
    background-image: data-uri('@{img}nav_csd_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}


.img_nav_lccld{
    background-image: data-uri('@{img}nav_lccld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_lccld_click{
    background-image: data-uri('@{img}nav_lccld_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_glcld{
    background-image: data-uri('@{img}nav_sjcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_glcld_click{
    background-image: data-uri('@{img}nav_sjcld_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}


.img_nav_hjcld{
    background-image: data-uri('@{img}nav_hjcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_hjcld_click{
    background-image: data-uri('@{img}nav_hjcld_click.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_cgcld{
    background-image: data-uri('@{img}nav_cgcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_cgcld_click{
    background-image: data-uri('@{img}nav_cgcld_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ffcld{
    background-image: data-uri('@{img}nav_ffcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_ffcld_click{
    background-image: data-uri('@{img}nav_ffcld_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dtcld{
    background-image: data-uri('@{img}nav_dtcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_dtcld_click{
    background-image: data-uri('@{img}nav_dtcld_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_sjcld{
    background-image: data-uri('@{img}nav_sjcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_sjcld_click{
    background-image: data-uri('@{img}nav_sjcld_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_tjcld{
    background-image: data-uri('@{img}nav_tjcld.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_tjcld_click{
    background-image: data-uri('@{img}nav_tjcld_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_xdjqz{
    background-image: data-uri('@{img}nav_xdjqz.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_xdjqz_click{
    background-image: data-uri('@{img}nav_xdjqz_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_xdjqzgjz{
    background-image: data-uri('@{img}nav_xdjqzgjz.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_xdjqzgjz_click{
    background-image: data-uri('@{img}nav_xdjqzgjz_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_boss{
    background-image: data-uri('@{img}/nav_boss.png');
    width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}
.img_nav_boss_click{
    background-image: data-uri('@{img}nav_boss_click.png');
     width: 210px/2;
    height: 210px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 210px/2 auto;
}

.img_nav_click_bg{
    background-image: data-uri('@{img}xdaba/nav_click_bg.png');
    width: 75px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75px auto;
}

.img_zj_open{
    background-image: data-uri('@{img}zj_icon_open.png');
    width: 84px/2;
    height: 84px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 84px/2 auto;
}

.img_zj_close{
    background-image: data-uri('@{img}zj_icon_close.png');
    width: 84px/2;
    height: 84px/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 84px/2 auto;
}